.article {
    width: 800px;
    padding: 15px 10px;
    margin: 0 auto 10px auto;
    position: relative;
    border: 1px solid #999;
    border-radius: 8px;
    &__control {
        height: 18px;
        display: flex;
        flex-direction: row;
        position: absolute;
        right: 20px;
        top: 10px;
    }
    &__edit {
        width: 18px;
        height: 18px;
        margin: 0 10px 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 3px;
    }
    &__edit:hover {
        fill: #fff;
        background-color: #5cb85c;
    }
    &__remove {
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 3px;
    }
    &__remove:hover {
        fill: #fff;
        background-color: #d9534f;
    }
    &__svg-icon {
        height: 12px;
    }
    &__header {
        width: 92%;
        margin: 0 0 5px 0;
        font: 700 20px 'Open Sans', sans-serif;
        color: #1574BD;
    }
    &__author {
        margin: 0 0 10px 0;
        font: 600 15px 'Open Sans', sans-serif;
        color: #008000;
    }
    &__date {
        margin-left: 7px;
        font: 400 14px 'Open Sans', sans-serif;
        color: #808080;
    }
    &__text {
        font: 400 15px/1.4 'Open Sans', sans-serif;
        text-align: justify;
    }
}